#gray-cover{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 5;
}
#login-container-2{
    height: 60vh;
    width: 22vw;
    background-color: #7FEF8A;
    border-radius: 5%;
    position: relative;
    top: 20vh;
    left: 39%;
    box-shadow: 6px 6px 4px rgb(54, 54, 54);
    text-align: center;
    z-index: 6;
  }
  
  #welcome-text3{
      color: #363636;
      font-weight: 600;
      font-size: 35px;
  }

  #welcome-text4{
    color: #5E5E5E;
    font-weight: 600;
    font-size: 15px;
}
.flex-row2{
    height: 80px;
    margin: 40px 60px 0px 60px;
    text-align: left;
}
#email-text-2{
    color: #363636;
    font-weight: bold;
    font-size: 15px;
    display: table;
}
#form2{
    width: 100%;
}
.form-control2::placeholder{
    color: black;
    font-weight: normal;
}
.form-control2{
    border-style: none;
    color: black;
    background-color: white;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}
.form-control2:focus{
    color: black;
    box-shadow: 0 0 0 0.15rem #FFCD82;
    background-color: white;
}
#login-button-2{
    background-color: #FBFBFB;
    color: black;
    width: 75%;
    height: 60px;
    margin: 60px 0px 0px 0px;
    border: none;
    font-weight: bold;
}
#login-button-2:hover{
    box-shadow: 0 0 0 0.15rem #FFCD82;
}
#cross-img-2{
    position: relative;
    color: black;
    left: 19vh;
}