#gray-cover{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 5;
}
#login-container{
    height: 60vh;
    width: 22vw;
    background-color: #505050;
    border-radius: 5%;
    position: relative;
    top: 20vh;
    left: 39%;
    box-shadow: 6px 6px 4px rgb(54, 54, 54);
    text-align: center;
    z-index: 6;
  }
  
#welcome-text6{
    display: block;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 35px;
}

.flex-row6{
    height: 80px;
    margin: 100px 60px 0px 60px;
    text-align: left;
}

#email-text6{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#form6{
    width: 100%;
}
.form-control6::placeholder{
    color: rgb(219, 219, 219);
    font-weight: normal;
}
.form-control6{
    border-style: none;
    color: white;
    background-color: #636262;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}
.form-control6:focus{
    color: white;
    border-color: none;
    border: none;
    box-shadow: 0 0 0 0.15rem #FFCD82;
    background-color: #636262;
}
#login-button6{
    background-color: #FBFBFB;
    color: black;
    width: 75%;
    height: 60px;
    margin: 130px 0px 0px 0px;
    border: none;
    font-weight: bold;
}
#login-button6:hover{
    box-shadow: 0 0 0 0.15rem #FFCD82;
}
#cross-img{
    position: relative;
    top: 20px;
    left: 19vh;
}
#back-to-login-text{
    display: block;
    color: #FFCD82;
    margin-top: 80px;
    font-weight: 600;
}
#back-to-login-text:hover{
    cursor: pointer;
    color: #FFCD82;
}
#info-text{
    color: rgb(223, 223, 223);
    display: block;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 400;
}