.gray-cover{

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 5;

    &__password-recover-block{

        height: 60vh;
        width: 22vw;
        background-color: #505050;
        border-radius: 5%;
        position: relative;
        top: 20vh;
        left: 39%;
        box-shadow: 6px 6px 4px rgb(54, 54, 54);
        text-align: center;
        z-index: 6;

        &__cross-img{
            position: relative;
            top: 20px;
            left: 19vh;
        }

        &__change-password-title{

            display: block;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 35px;
        }

        &__row{

            height: 80px;
            margin: 100px 60px 0px 60px;
            text-align: left;

            &__form{

                width: 100%;

                &__email-text{

                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                }

                &__email-input{

                    border-style: none;
                    color: white;
                    background-color: #636262;
                    height: 60px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    width: 100%;

                    &::placeholder{

                        color: rgb(219, 219, 219);
                        font-weight: normal;
                    }

                    &:focus{
                        color: white;
                        border-color: none;
                        border: none;
                        box-shadow: 0 0 0 0.15rem #FFCD82;
                        background-color: #636262;
                    }
                }
            }
        }

        &__send-button{
            background-color: #FBFBFB;
            color: black;
            width: 75%;
            height: 60px;
            margin: 130px 0px 0px 0px;
            border: none;
            font-weight: bold;

            &:hover{
                box-shadow: 0 0 0 0.15rem #FFCD82;
            }
        }

        &__info-text{
            color: rgb(223, 223, 223);
            display: block;
            font-size: 15px;
            margin-top: 10px;
            font-weight: 400;
        }

        &__back-to-login-text{
            display: block;
            color: #FFCD82;
            margin-top: 80px;
            font-weight: 600;

            &:hover{
                cursor: pointer;
                color: #FFCD82; 
            }
        }
    }
}
