#gray-cover{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 5;
}
#login-container{
    height: 60vh;
    width: 22vw;
    background-color: #505050;
    border-radius: 5%;
    position: relative;
    top: 20vh;
    left: 39%;
    box-shadow: 6px 6px 4px rgb(54, 54, 54);
    text-align: center;
    z-index: 6;
  }
  
#welcome-text5{
    color: #FFCD82;
    font-weight: 600;
    font-size: 40px;
}
.flex-row3{
    height: 60px;
    margin: 30px 60px 0px 60px;
    text-align: left;
}
#email-text3{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
#form3{
    width: 100%;
}
.form-control3::placeholder{
    color: rgb(219, 219, 219);
    font-weight: normal;
    font-size: 14px;
}
.form-control3{
    color: white;
    background-color: #636262;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}
.form-control3:focus{
    color: white;
    box-shadow: 0 0 0 0.15rem #FFCD82;
    background-color: #636262;
}
#login-button3{
    background-color: #FBFBFB;
    color: black;
    width: 75%;
    height: 60px;
    margin: 50px 0px 0px 0px;
    border: none;
    font-weight: bold;
}
#login-button3:hover{
    box-shadow: 0 0 0 0.15rem #FFCD82;
}
#cross-img{
    position: relative;
    left: 19vh;
}
#regulations{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 10px;
}
#regulations span{
    color: #FFCD82;
}
#login-text{
    display: block;
    font-size: 15;
    color: white;
    margin-top: 20px;
}
#login-text span{
    color: #FFCD82;
}
#login-text span:hover{
    cursor: pointer;
    color: #FFCD82;
}