.gray-cover{

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 5;

    &__registration-block{

        height: 62vh;
        width: 22vw;
        background-color: #505050;
        border-radius: 5%;
        position: relative;
        top: 20vh;
        left: 39%;
        box-shadow: 6px 6px 4px rgb(54, 54, 54);
        text-align: center;
        z-index: 6;

        &__cross-img{
            position: relative;
            left: 19vh;
        }

        &__title{

            color: #FFCD82;
            font-weight: 600;
            font-size: 30px;
        }

        &__line{
            border-color: #F2C785;
            width: 420px;
            border-width: 3px;
        }

        &__row{

            height: 100px;
            margin: 10px 60px 0px 60px;
            text-align: left;

                &__title{
                    color: white;
                    font-weight: bold;
                    font-size: 15px;
                }

                &__warning-message{
                    color: #f84949;
                    font-size: 13px;
                }

                &__input{

                    border-style: none;
                    background-color: #636262;
                    color: rgb(236, 236, 236);
                    border-radius: 7px;
                    height: 40px;
                    width: 400px;

                    &::placeholder{
                        color: rgb(219, 219, 219);
                        font-weight: normal;
                        font-size: 14px;
                    }

                    
            }
        }

        &__error-message{
           display: block;
           margin-top: 30px;
           color: #f84949;
           font-size: 16px;

           &--green{
            display: block;
            margin-top: 30px;
            color: #f84949;
            font-size: 16px;
            color: #9EE17F;
           }
        }

        &__registration-button{
            background-color: #FBFBFB;
            color: black;
            width: 75%;
            height: 60px;
            margin: 20px 0px 0px 0px;
            border: none;
            font-weight: bold;

            &:hover{
                box-shadow: 0 0 0 0.15rem #FFCD82;
                background-color: #FFCD82;
            }
        }

        &__regulations{
            display: block;
            font-size: 12px;
            color: white;
            margin-top: 10px;

            & span{
                color: #FFCD82;
            }
        }

        &__login-text{
            display: block;
            font-size: 15;
            color: white;
            margin-top: 20px;

            & span{
                color: #FFCD82;

                &:hover{
                    cursor: pointer;
                    color: #FFCD82;
                }
            }
        }
    }
}
